<div class = "chat-header">
  <div class = "left-header">
    <div class = "room-name">
      <a href = "#">ルーーーーーーむ１</a>
    </div>
  </div>
  <div class = "left-header">
    <div class = "logout-button">
      <a href = "#">ログアウト</a>
    </div>
  </div>
</div>

<div class = "main">
  <div class= "message">
    <div class = "upper-message">
      <div class = "name">
        Hiro
      </div>
      <div class = "date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "content">
        レンガ
      </div>
    </div>
  </div>

  <div class= "message">
    <div class = "upper-message">
      <div class = "name">
        Tanaka
      </div>
      <div class = "date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "content">
        レンガ
      </div>
    </div>
  </div>
</div>

<div class = "forms">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <div class = "form-image">
      <label class = "image-button">
        <span class = "image-file">画像</span>
        <input type = "file" class = "hidden">
      </label>
  </div>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>